{
  "presets": ["@babel/preset-env"],
  "env": {
    "production": {
      "presets":[
        [
          "@babel/preset-env",
          {
            "targets": "> 0.25%, not dead"
          }
        ]
      ]
    }
  }
}


//the "targets" specify that we want to support all Browsers used by more than 0.25% of people
//that are still officially supported by their creator
